body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 75px;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
}
.gameContainer{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}
.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 300px;
    margin: auto;
}
.winnerContainer{
    display: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.356);
}
.restart{
    z-index: 2;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 698px;
}
.large{
    font-size: 100px;
    color: rgb(115, 255, 115);
    position: absolute;
    top: 450px;
    left: 600px;
}


@media screen and (width < 600px) {
    .red{
        background-color: red;
    }
    .blue{
        background-color: blue;
    }
    .redWin{
        color: red;
    }
    .blueWin{
        color: blue;
    }
    .cellContainer{
        width: 180px;
        height: 180px;
    }
    .cell{
        width: 60px;
        height: 60px;
        font-size: 40px;
    }
    .restart{
        top: 320px;
        left: 80px;
    }
    .winnerContainer{
        font-size: 40px;
        color: rgb(195, 255, 0);
    }
    .large{
        font-size: 40px;
        color: rgb(6, 251, 6);
        position: absolute;
        top: 200px;
        left: 90px;
        font-weight: bold;
    }
}